body{
  background-image:url('earth_night.jpg');
}
.header {
    	height:50px;
   		border:1px solid #ffffff;
   		width:99%;
   		margin:5px auto;
   		border-radius: 2px;
   		font-size: 20px;
   		color: white;
}
#welcome{
		font-size: 50px;
		float: left;
		font-style:bold;
}
#one{
		width:18%;
		height: 50px;
		float: right;
}
#one:hover{
		color: blue;
}
#two{
		width: 18%;
		height: 50px;
		float: right;
}
#two:hover{
		color: blue;
}
/*#logoArea{
  width:100%;
  position: relative;
  left:33%;
}
#Logo{
  height:300px;
}*/
.container{
  width:100%;
  position:absolute;
}
#strawberryJam{
  width:32.5%;
  float:left;
  height:400px;
  text-align:center;
  background-image:url('strawberry.jpg');
  border-radius:8px;
  border:2px;
  border-style:solid;
  border-color:black;
}
#blueberryJam{
  width:32.5%;
  float:left;
  height:400px;
  text-align:center;
  background-image:url('blueberry.jpg');
  border-radius:8px;
  border:2px;
  border-style:solid;
  border-color:black;
}
#TropicalJam{
  width:32.5%;
  float:left;
  height:400px;
  text-align:center;
  background-image:url('EarthlingJam.jpg');
  border-radius:8px;
  color:white;
  border:2px;
  border-style:solid;
  border-color:black;
  
}
#SecretStuff{
  width:32.5%;
  float:left;
  height:300px;
  text-align:center;
  background-image:url('JordansSecretStuff.jpg');
  border-radius:8px;
  border:2px;
  border-style:solid;
  border-color:black;
}
#dragonFruitJam{
  width:32.5%;
  float:left;
  height:300px;
  text-align:center;
  background-image:url('dragonfruit.jpg');
  background-size:cover;
  border-radius:8px;
  border-color:black;
  border:2px;
  border-style:solid;
}
#marmalade{
  width:32.5%;
  float:left;
  height:300px;
  text-align:center;
  background-image:url('marmalade.jpg');
  border-radius:8px;
  background-size: cover;
  color:white;
  border:2px;
  border-style:solid;
  border-color:black;
}
#whereThePricingAreaIsGonnaBe{
  width:32.5%;
  float:left;
  height:300px;
  text-align:center;
  background:white;
  border-radius:8px;
  background-size: cover;
  border:2px;
  border-style:solid;
  border-color:black;
}